version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:chakracore-8.11.1
    working_directory: ~/repo
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "77:b3:dc:a8:b1:f6:8c:52:81:02:07:46:07:cb:97:f3"
            - checkout
      - run:
          name: Adding host to knownhost
          command: ssh-keyscan -H 54.147.236.31 >> ~/.ssh/known_hosts
      - run:
          name: AWS EC2 Copy
          command: |
            scp -r -o StrictHostKeyChecking=no index.php ec2-user@54.147.236.31:/home/ec2-user/index.php
      - run:
          name: AWS EC2 deploy
          command: |
            ssh ec2-user@54.147.236.31 'sudo cp /home/ec2-user/index.php /usr/share/nginx/html/index.php && rm -rf /home/ec2-user/index.php > dev/null &'
            echo "deployment done"


workflows:
  version: 2.1
  build:
    jobs:
      - build
